{% extends 'base.html.twig' %}
{% trans_default_domain 'website' %}
{% block body %}
	{% if results is defined %}
		{% include 'index/results.html.twig' %}
	{% else %}
		<div class="hero_home version_1">
			<div class="content">
				<img src="{{ asset('img/location.png') }}" width="100" />
				<h3>{{ 'index.hero.title' | trans }}</h3>
				<p>
					{{ 'index.hero.slogan' | trans }}
				</p>
				{{ form_start(global_search) }}
					<div id="radio-tags">
					<div class="input-group">
						{{ form_widget(global_search.query, {'attr' : { 'class' : 'search-query', 'placeholder': 'global_search.search_placeholder' }}) }}
						<input type="submit" class="btn_search" value="{{ 'index.hero.search' | trans }}">
					</div>
					<ul>
					{% for radio in global_search.type.children %}
						<li>
						{{ form_widget(radio) }}
						{{ form_label(radio) }}
						</li>
					{% endfor %}
					</ul>
				</div>
				{{ form_end(global_search) }}
			</div>
		</div>
		<!-- /Hero -->
	{% endif %}
		<div class="container margin_120_95">
			<div class="main_title">
				<h2>{{ 'index.services.title' | trans | raw }}</h2>
				<p>{{ 'index.services.sub_title' | trans }}</p>
			</div>
			<div class="row add_bottom_30">
				<div class="col-lg-4">
					<div class="box_feat" id="icon_1">
						<h3>{{ 'index.services.pharmacy.title' | trans }}</h3>
						<p>{{ 'index.services.pharmacy.text' | trans | raw }}</p>
						<a href="{{ path('pharmacist_blog') }}" class="btn_1 medium">{{ 'index.services.see_more' | trans }}</a>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="box_feat" id="icon_2">
						<h3>{{ 'index.services.medecine.title' | trans }}</h3>
						<p>{{ 'index.services.medecine.text' | trans | raw }}</p>
						<a href="{{ path('doctor_blog') }}" class="btn_1 medium">{{ 'index.services.see_more' | trans }}</a>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="box_feat" id="icon_3">
						<h3>{{ 'index.services.medication.title' | trans }}</h3>
						<p>{{ 'index.services.medication.text' | trans | raw }}</p>
						<a href="{{ path('laboratory_blog') }}" class="btn_1 medium">{{ 'index.services.see_more' | trans }}</a>
					</div>
				</div>
			</div>
			<!-- /row -->

		</div>
		<!-- /container -->

		<div id="app_section">
			<div class="container">
				<div class="row justify-content-around">
					<div class="col-md-5">
						<p><img src="{{ asset('img/mobile_app.png') }}" alt="" class="img-fluid" width="500" height="433"></p>
					</div>
					<div class="col-md-6">
						<small>{{ 'index.application.title' | trans }}</small>
						<h3>{{ 'index.application.subtitle' | trans | raw }}</h3>
						<p class="lead">{{ 'index.application.description' | trans | raw }}</p>
						<div class="app_buttons wow" data-wow-offset="100">
							<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 43.1 85.9" style="enable-background:new 0 0 43.1 85.9;" xml:space="preserve">
							<path stroke-linecap="round" stroke-linejoin="round" class="st0 draw-arrow" d="M11.3,2.5c-5.8,5-8.7,12.7-9,20.3s2,15.1,5.3,22c6.7,14,18,25.8,31.7,33.1" />
							<path stroke-linecap="round" stroke-linejoin="round" class="draw-arrow tail-1" d="M40.6,78.1C39,71.3,37.2,64.6,35.2,58" />
							<path stroke-linecap="round" stroke-linejoin="round" class="draw-arrow tail-2" d="M39.8,78.5c-7.2,1.7-14.3,3.3-21.5,4.9" />
						</svg>
							<a href="#0" class="fadeIn"><img src="img/apple_app.png" alt="" width="150" height="50" data-retina="true"></a>
							<a href="#0" class="fadeIn"><img src="img/google_play_app.png" alt="" width="150" height="50" data-retina="true"></a>
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /app_section -->
{% endblock %}
