{# default Sliding pagination control implementation #}
{% if pageCount > 1 %}
    <ul class="pagination pagination-sm">
        {# {% if first is defined and current != first %}
            <span class="first">
                <a href="{{ path(route, knp_pagination_query(query, first, options)) }}">&lt;&lt;</a>
            </span>
        {% endif %} #}

        {% if previous is defined %}
            <li class="page-item">
                <a class="page-link" href="{{ path(route, knp_pagination_query(query, previous, options)) }}" tabindex="-1">Previous</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
        {% endif %}

        {% for page in pagesInRange %}
            {% if page != current %}
                 <li class="page-item"><a class="page-link" href="{{ path(route, knp_pagination_query(query, page, options)) }}">{{ page }}</a></li>
            {% else %}
                <li class="page-item active"><a class="page-link" href="javascrpt:;">{{ page }}</a></li>
            {% endif %}
        {% endfor %}

        {% if next is defined %}
            <li class="page-item">
                <a class="page-link" href="{{ path(route, knp_pagination_query(query, next, options)) }}">Next</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#">Next</a>
            </li>
        {% endif %}

        {# {% if last is defined and current != last %}
            <span class="last">
                <a href="{{ path(route, knp_pagination_query(query, last, options)) }}">&gt;&gt;</a>
            </span>
        {% endif %} #}
    </div>
{% endif %}


{# <ul class="pagination pagination-sm">
    <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    <li class="page-item active"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
        <a class="page-link" href="#">Next</a>
    </li>
</ul> #}